.test-barcode-input {
  display: flex;
  margin-top: 20px;
}

.test-barcode-container {
  margin-left: 10px;
}

.test-input-container {
  margin-bottom: 4px;
}

.row-buttons {
  display: flex;
  justify-content: center;
  width: 20%;
}

.row-buttons > button {
  margin: 20px;
}

.edit-pool-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 20%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background: rgb(175, 175, 175);
  padding: 50px;
  border-radius: 20px;
  border: 5px solid black;
}
